@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box !important;
}

html, body, #root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased !important;
}

body, input, button, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;;
    font-size: 14px;
}

.invalid-feedback {
    display: block !important;
    margin-left: 6px;
}

.disabled {
    background-color: #e9ecef;
}

.opcional {
    color: #ccc;
    font-size: 14px;
    user-select: none;
}
